body { 
  background-color: lightblue;
}


h1{
  border: solid;
	color: white; 
	background-color:black;
}

h2 {
  border: solid;
  padding: 1px;
  color:white;
  background-color: black;
}  
  
p {
  border-style: solid; 
  padding: 5px;
	color: white;
	background-color: black;
	width: fit-content;
}